$color_boton: #38726c;
$color_fondo: #d5ddbc;
$color_letras: #414066;
$ancho_imagenCard: 250px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: $color_fondo;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  .card {
    position: relative;
    width: 300px;
    height: 280px;
    box-shadow: 4px 4px 10px;
    border-radius: 12px;

    .card__imagen {
      position: absolute;
      width: 250px;
      height: 198px;
      left: calc(50% - 250px / 2);
      bottom: 82px;
      img {
        width: 100%;
      }
    }
    .card__texto {
      position: absolute;
      width: 226px;
      height: 119px;
      left: 37px;
      top: 146px;
      display: flex;
      flex-direction: column;
      opacity: 0;

      .boton,
      h2,
      p {
        margin-top: 5px;
      }
      .boton {
        align-self: center;
        a {
          background: #1b2555;
          border-radius: 5px;
          font-size: 20px;
          padding: 2px 19px;
          color: white;
        }
      }
    }
  }
}
.card:hover {
  img {
    transform: translate(0px, -60px);
    transition: transform 2s;
  }
  .card__texto {
    opacity: 1;
    transition: opacity 0.1s;
    transition-delay: 1s;
  }
}

@media (max-width: 1024px) {
  .card {
    margin-top: 70px;
  }
}
